.metadata/
.recommenders/
GroupfitnessV11/.settings/
GroupfitnessV11/target/
GroupfitnessV11EJB/.settings/
GroupfitnessV11Web/.settings/
GroupfitnessV11Web/target/
GroupfitnessV11EJB/target/
RemoteSystemsTempFiles/.project
GroupfitnessV11Web/.project
GroupfitnessV11EJB/.project
GroupfitnessV11Client/target/
GroupfitnessV11EJB/build/
GroupfitnessV11Client/.settings/
GroupfitnessV11/.project
*.classpath
MavenResourceTest/.settings/
MavenResourceTest/.project
MavenDomainBuilder/.settings/
